* {
  margin: 0;
  padding: 0;
}
body {
  min-height: 151vh;
}
.grid {
  display: grid;
  grid-template-columns: minmax(300px, auto) 1fr;
  grid-template-rows: minmax(100px auto) minmax(200 auto) 300px 1fr 100px 150px;
  grid-template-areas:
    "logo gallery"
    "menuu gallery"
    "search gallery"
    ". gallery"
    "contacts gallery"
    "stopka stopka ";
  @media (max-width: 800px) {
    grid-template-columns: minmax(200px, auto) 1fr minmax(100px, auto);
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
      "logo search menuu"
      "gallery gallery gallery"
      "contacts contacts contacts"
      "stopka stopka stopka";
  }
}

img {
  width: 100%;
}
.logo {
  background-color: red;
  grid-area: logo;
}
.search {
  background-color: green;
  grid-area: search;
}
.menu {
  background-color: yellow;
  grid-area: menuu;
}
.gallery {
  background-color: rgb(255, 0, 191);
  grid-area: gallery;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(205px, 1fr));
  gap: 15px;
  padding: 120px 15px 15px;
  position: relative;
  h1 {
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
  }
}

.contact {
  background-color: royalblue;
  grid-area: contacts;
}
.footer {
  background-color: purple;
  grid-area: stopka;
}
